<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Super Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pagAdmin_pincipal.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="logo.png" alt="Logo" />
        </div>
        <div class="admin-name">
            <h3>Nombre del SuperAdmin</h3> <!-- Este nombre se puede recuperar de la base de datos -->
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin.indexAdmin') }}">Usuarios</a></li>
                <li><a href="#discotecas">Discotecas</a></li>
                <li><a href="{{ url_for('categorias.index') }}">Categoría</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>Bienvenido al Panel de Administración</h1>
        <p>Aquí puedes gestionar todos los aspectos de tu aplicación.</p>
    </div>
</body>
</html>
