<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Servicios</h1>
        <a href="{{ url_for('servicios.add_servicio') }}" class="btn btn-success mb-3">Agregar Nuevo Servicio</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>N° Orden</th>
                    <th>ID Discoteca</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio[0] }}</td>
                    <td>{{ servicio[3] }}</td>
                    <td>{{ servicio[2] }}</td>
                    <td>{{ servicio[1] }}</td>
                    <td>
                        <a href="{{ url_for('servicios.update_servicio', id=servicio[0]) }}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{{ url_for('servicios.delete_servicio', id=servicio[0]) }}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
