/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.btn-crear {
    display: block;
    width: 150px;
    margin: 20px 0 20px 0; /* Margin superior e inferior, margen izquierdo 0 */
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.btn-crear:hover {
    background-color: #218838;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    color: #333;
}

/* Estilos para los botones de acciones */
.btn-editar, .btn-eliminar {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.btn-editar {
    background-color: #ffc107;
    color: #000;
}

.btn-editar:hover {
    background-color: #e0a800;
}

.btn-eliminar {
    background-color: #dc3545;
    color: #fff;
}

.btn-eliminar:hover {
    background-color: #c82333;
}