body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

        /* Estilos para la vista previa de la imagen */
        /* Estilos para la vista previa de la imagen */
        #image-preview {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 150px;
            height: 150px;
            border: 2px dashed #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        #image-preview img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover; /* Ajustar la imagen dentro del contenedor */
        }

/* En tu archivo CSS */
.hidden {
    display: none;
}

/* Estilos para preview de archivos */
#file-preview {
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.badge {
    font-size: 0.9em;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
}

.modal-content {
    background-color: #f8f9fa;
}